.theme-container
    .hero
        img
            border-radius 50%
            max-height 200px !important

    .sidebar-heading
        display none

    .navbar .site-name
        display none

    .theme-default-content
        code
            color #2c3e50 !important
        .fab
            padding .2em
        pre.language-text
            white-space inherit
        .social
            text-align center
