.theme-container
    height 100vh
    .navbar
        display none
    .sidebar
        display none
    .theme-default-content
        blockquote
            color $blockquoteColor
            border-left-color $blockquoteColor